@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* buttons tweak */
.button-circle-fill {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.button-circle-fill::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 100%;
  height: 200%;
  background: white;
  border-radius: inherit;
  transition: transform 0.5s cubic-bezier(0.4,0,0.2,1);
  z-index: 1;
  pointer-events: none;
}

.button-circle-fill:hover::before {
  transform: translateY(-50%) scale(1.2);
}

.button-circle-fill .button-content {
  position: relative;
  z-index: 2;
  transition: color 0.3s;
}

.button-circle-fill:hover .button-content {
  color: #000; /* black text on hover */
}
