PORT=
RAPIDAPI_KEY=
X_API_KEY=
CMC_API_KEY=
TWITTER_BEARER_TOKEN=

HELPER_APIS_URL=
GEMINI_API_KEY=
YOUTUBE_API_KEY=
BASE_URL=

SUPABASE_URL=
SUPABASE_ANON_KEY=
TWITTERSCORE_API_KEY=
OPENROUTER_API_KEY=

REDIS_URL=


# Connect to Supabase via connection pooling
DATABASE_URL=
# Direct connection to the database. Used for migrations
DIRECT_URL=

NODE_ENV="DEVELOPMENT"

#Redis config for prod
REDIS_URL="" #Internal Render redis url

#Redis config for local-dev
# "rediss://REDIS_SERVICE_NAME:REDIS_PASSWORD@REDIS_HOST:6379"
REDIS_SERVICE_NAME=""
REDIS_HOST=""
REDIS_PASSWORD=""
REDIS_PORT=6379
EXTERNAL_REDIS="EXTERNAL"
